:root{
    --backgroundcolor:#3c55a5;
    --titlecolor:#fb7768;
    --contactcolor: #dedfde;
    --buttoncolor:#595959;
    --textsection2:#4d4d4d;
    --firstbutton-color:#84d2ee;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html{
    font-family: 'Montserrat';
}

header{
    background-image: url(../img/SAOfondofixed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white; 
   
}
.navbar{
    padding: 20px 0px;
    max-width: 1300px;
    font-size: 1.2rem;
}

.headerflex .navbar .contenedornav{
    display: flex;
    justify-content:space-between;
    padding: 0px 20px;
}

.headerflex .navbar .contenedornav h1 img{
    max-width: 40vw;

}

.headerflex .navbar .contenedornav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 40px;
  
}

.headerflex .navbar .contenedornav ul,a{
    color: white ;
}

.headerflex .navbar .contenedornav ul li{
    margin-right: 15px;
}

.headerflex .navbar .contenedornav ul .text-orange{
    color: orange
}


/* ACA ACABA LA NAVEGACION, EMPIEZA el thumbnail */


header .showcase .contenedorsao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.43);
}

header .showcase .contenedorsao h2{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 10rem;
}

header .showcase .contenedorsao p{
    font-weight: 300;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

header .showcase .contenedorsao .button-showcase{
    padding: 10px 30px;
    margin-top: 3rem;
    background-color:var(--backgroundcolor);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

header .showcase .contenedorsao .button-showcase:hover{
    background-color: #5d74c1;
}

/* ACA EMPIEZAN LOS SERVICIOS */

.servicios{
    padding: 80px;
    text-align: center;
    color: white;
    background-image: url(../img/hyouka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.servicioskirito{
    padding: 0px 20px;
    max-width: 1300px;
       
    
}

.prueba100{
    width: 99%;
    background-color:rgba(0,0,0,.7);
    
}

.servicioskirito .box {
    width: 33%;
    padding: 30px;
    background-color: rgba(0,0,0,.7);
     
}


.servicios h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.servicios h5{
    font-size:1.2rem;
    font-weight:bold
}

.servicios p{
    font-size: 2rem;
}

.servicioskirito{
    display: flex;
    flex-wrap: wrap;
  
}

.servicios .box p{
    font-size: 1rem;
}

.servicioskirito h5{   
   margin: 10px 10px 15px 10px;
}


.servicioskirito i{
    font-size: 2rem;
    margin: 10px;

}

/* ACA EMPIEZA EL FORMULARIO DE CONTACTO */

.contact{
    background-image: url(../img/Josee-Still-9.jpg);
    background-size: cover;;
    width: 100%;
    padding: 80px;
    text-align: center;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.43);
   
   
}

.contact h4 {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 15px;
    
} 

.contact p{
    font-size: 1.3rem;
    color: white;
    margin-bottom: 15px;
}

          /*--------- FORMULARIO -----*/

 .contact .contacto form
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact input[type="text"],
.contact input[type="email"], 
.contact textarea{
    width: 40%;
    margin:10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.contact textarea{
    max-width: 40%;
    min-width: 40%;
    min-height: 20vh;
    max-height: 25vh;
}

.contact input[type="submit"]{
        padding: 1rem 3rem;
        font-size: 1.1rem;
        cursor: pointer;
        background-color: #3c55a5;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
}

.contact input[type="submit"]:hover
{
    background-color: #556fc5;  
    transition: 0.3s;  
}

input::placeholder,textarea::placeholder{
    color: white;
    opacity: 0.8;
}


/* ACA EMPIEZA EL FOOTER */

footer{
    width: 100%;
    padding: 80px;
    background-image: url(../img/spygod.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
   
}

.containerfooter{
    min-height: 27vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.6);
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.43) ;
}

.containerfooter .box{
    width: 33.33%;
    display:flex;
    flex-direction: column;

    font-size: 1.1rem;
    margin-bottom: 15px;
    padding: 20px 80px;
   
   
}

.containerfooter a{
    line-height: 35px;
    color: white;
    text-decoration: none;
   
}

.containerfooter a:hover{
    text-decoration: underline;
}

footer p{
    text-align: center;
    margin-top: 2.5rem;
}
/* FOOTER ICONS */

.fab{
    border: transparent;
}

.containerfooter .fa-facebook-square{
    background-color:white;
    color:#1877f2 ;
   
}



.fa-twitter-square{
   background-color: #fff;
   color: #1da1f2 ;
    
}

.fa-discord
{
    background-color: #7289da;
    color:white;
}



.box h5{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.containerfooter p{
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.43);
    
   
   
    
    
}